# Byte-compiled  cache
__pycache__
.py[cod]
.pyo

# Virtual environments
venv
smart-attend-venv

# OS files
.DS_Store

# Photos (private data)
photos
temp_photos

# Config with secrets
config.py

# .bat file
run_auto_absentee.bat

# logs folder and .log files
logs

.log

# archive folder
archive

# .env file
.env

# seed user file
seed_users.py

# vscode json
.vscode